In [1]:
import pandas as pd

data = {'Columna 1': ['Hola     ', '  este es   ', 'un ejemplo    '], 
        'Columna 2': ['   con muchos   ', '  espacios    ', '      en blanco']}
df = pd.DataFrame(data)

print(df)

        Columna 1         Columna 2
0       Hola          con muchos
1      este es         espacios
2  un ejemplo             en blanco

In [2]:
df

        Columna 1         Columna 2
0       Hola          con muchos
1      este es         espacios
2  un ejemplo             en blanco

In [6]:
df = df.applymap(lambda x: x.strip())